In [1]:
import pandas as pd

In [2]:
years = ["2015", "2016", "2017", "2018", "2019"]
dfs = {}
for year in years:
    dfs[year] = pd.read_csv(f"{year}.csv").assign(Year=year).fillna(0)
    

dfs["2015"].drop(columns=["Region"], inplace=True)
dfs["2016"].drop(columns=["Region"], inplace=True)

dfs["2017"].columns = list(map(lambda x: x.replace("."," "),
                               dfs["2017"].columns))

dfs["2015"].rename(
    columns={
        "Economy (GDP per Capita)":"GDP per capita"
    },    
    inplace=True)

dfs["2016"].rename(
    columns={
        "Economy (GDP per Capita)":"GDP per capita"
    },    
    inplace=True)

dfs["2017"].rename(
    columns={
        "Economy  GDP per Capita ":"GDP per capita",
        "Health  Life Expectancy ":"Health (Life Expectancy)",
        "Trust  Government Corruption ":"Trust (Government Corruption)",
        
    },    
    inplace=True)

dfs["2018"].rename(
    columns={
        "Country or region":"Country",
        "Overall rank":"Happiness Rank",
        "Score":"Happiness Score",
        "Healthy life expectancy":"Health (Life Expectancy)",
        "Freedom to make life choices":"Freedom",
        "Perceptions of corruption":"Trust (Government Corruption)"
    },
    inplace=True)

dfs["2019"].rename(
    columns={
        "Country or region":"Country",
        "Overall rank":"Happiness Rank",
        "Score":"Happiness Score",
        "Healthy life expectancy":"Health (Life Expectancy)",
        "Freedom to make life choices":"Freedom",
        "Perceptions of corruption":"Trust (Government Corruption)"
    },
    inplace=True)

In [3]:
for year,df in dfs.items():
    print(year,"\n",df.columns,"\n")

2015
 Index(['Country', 'Happiness Rank', 'Happiness Score', 'Standard Error',
       'GDP per capita', 'Family', 'Health (Life Expectancy)', 'Freedom',
       'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual',
       'Year'],
      dtype='object')

2016
 Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'GDP per capita', 'Family', 'Health (Life Expectancy)', 'Freedom',
       'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual',
       'Year'],
      dtype='object')

2017
 Index(['Country', 'Happiness Rank', 'Happiness Score', 'Whisker high',
       'Whisker low', 'GDP per capita', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Generosity', 'Trust (Government Corruption)',
       'Dystopia Residual', 'Year'],
      dtype='object')

2018
 Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Trust (Government Corruption)', 'Year'],
      dtype='object')

2019
 Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Trust (Government Corruption)', 'Year'],
      dtype='object')

In [4]:
col_set = set(dfs["2019"].columns)
full_set = set()
for year,df in dfs.items():
    cols = set(df.columns)
    full_set = full_set.union(cols)
    col_set.intersection_update(cols)
print("Interserction\n",col_set)
print("\nDifference\n",full_set.difference(col_set))

Interserction
 {'Freedom', 'Year', 'Country', 'Happiness Rank', 'Happiness Score', 'GDP per capita', 'Trust (Government Corruption)', 'Generosity', 'Health (Life Expectancy)'}

Difference
 {'Whisker low', 'Family', 'Dystopia Residual', 'Lower Confidence Interval', 'Social support', 'Standard Error', 'Whisker high', 'Upper Confidence Interval'}

In [5]:
col_list = ['Country', 'Year', 'Happiness Score', 'Happiness Rank',
           'Freedom', 'Generosity', 'GDP per capita', 'Health (Life Expectancy)', 'Trust (Government Corruption)']
set(col_list).difference(col_set)

set()

In [6]:
combined = dfs["2015"][col_list]
for year,df in dfs.items():
    if year != "2015":
        combined = combined.append(df[col_list]).reset_index(drop=True)
combined

,Country,Year,Happiness Score,Happiness Rank,Freedom,Generosity,GDP per capita,Health (Life Expectancy),Trust (Government Corruption)
0,Switzerland,2015,7.587,1,0.66557,0.29678,1.39651,0.94143,0.41978
1,Iceland,2015,7.561,2,0.62877,0.43630,1.30232,0.94784,0.14145
2,Denmark,2015,7.527,3,0.64938,0.34139,1.32548,0.87464,0.48357
3,Norway,2015,7.522,4,0.66973,0.34699,1.45900,0.88521,0.36503
4,Canada,2015,7.427,5,0.63297,0.45811,1.32629,0.90563,0.32957
...,...,...,...,...,...,...,...,...,...
777,Rwanda,2019,3.334,152,0.55500,0.21700,0.35900,0.61400,0.41100
778,Tanzania,2019,3.231,153,0.41700,0.27600,0.47600,0.49900,0.14700
779,Afghanistan,2019,3.203,154,0.00000,0.15800,0.35000,0.36100,0.02500
780,Central African Republic,2019,3.083,155,0.22500,0.23500,0.02600,0.10500,0.03500
781,South Sudan,2019,2.853,156,0.01000,0.20200,0.30600,0.29500,0.09100

In [7]:
countries =  combined.Country.value_counts()
countries[countries < 5]

Lesotho                     4
South Sudan                 4
Central African Republic    4
Taiwan                      4
Namibia                     4
Sudan                       4
Angola                      4
Somalia                     4
Hong Kong                   4
Laos                        4
Macedonia                   4
Mozambique                  4
Trinidad and Tobago         3
North Cyprus                3
Belize                      3
Comoros                     3
Trinidad & Tobago           2
Swaziland                   2
Suriname                    2
Northern Cyprus             2
North Macedonia             1
Gambia                      1
Somaliland region           1
Djibouti                    1
Hong Kong S.A.R., China     1
Taiwan Province of China    1
Puerto Rico                 1
Somaliland Region           1
Oman                        1
Name: Country, dtype: int64

In [8]:
combined.replace({
    "Taiwan Province of China":"Taiwan",
    "Hong Kong S.A.R., China":"Hong Kong",
    "Trinidad & Tobago":"Trinidad and Tobago",
    "Macedonia":"North Macedonia",
    "North Cyprus":"Northern Cyprus"
    },
    inplace=True
)
combined

,Country,Year,Happiness Score,Happiness Rank,Freedom,Generosity,GDP per capita,Health (Life Expectancy),Trust (Government Corruption)
0,Switzerland,2015,7.587,1,0.66557,0.29678,1.39651,0.94143,0.41978
1,Iceland,2015,7.561,2,0.62877,0.43630,1.30232,0.94784,0.14145
2,Denmark,2015,7.527,3,0.64938,0.34139,1.32548,0.87464,0.48357
3,Norway,2015,7.522,4,0.66973,0.34699,1.45900,0.88521,0.36503
4,Canada,2015,7.427,5,0.63297,0.45811,1.32629,0.90563,0.32957
...,...,...,...,...,...,...,...,...,...
777,Rwanda,2019,3.334,152,0.55500,0.21700,0.35900,0.61400,0.41100
778,Tanzania,2019,3.231,153,0.41700,0.27600,0.47600,0.49900,0.14700
779,Afghanistan,2019,3.203,154,0.00000,0.15800,0.35000,0.36100,0.02500
780,Central African Republic,2019,3.083,155,0.22500,0.23500,0.02600,0.10500,0.03500
781,South Sudan,2019,2.853,156,0.01000,0.20200,0.30600,0.29500,0.09100

In [9]:
countries =  combined.Country.value_counts()
below5 = countries[countries < 5].index.to_list()
below5
# unfortunately these countries / regions dont have
# data for all 5 years and will need to be removed

['Somalia',
 'South Sudan',
 'Lesotho',
 'Laos',
 'Angola',
 'Sudan',
 'Namibia',
 'Mozambique',
 'Central African Republic',
 'Comoros',
 'Belize',
 'Swaziland',
 'Suriname',
 'Somaliland region',
 'Puerto Rico',
 'Djibouti',
 'Gambia',
 'Somaliland Region',
 'Oman']

In [10]:
combined = combined[~combined.Country.isin(below5)]

In [11]:
combined

,Country,Year,Happiness Score,Happiness Rank,Freedom,Generosity,GDP per capita,Health (Life Expectancy),Trust (Government Corruption)
0,Switzerland,2015,7.587,1,0.66557,0.29678,1.39651,0.94143,0.41978
1,Iceland,2015,7.561,2,0.62877,0.43630,1.30232,0.94784,0.14145
2,Denmark,2015,7.527,3,0.64938,0.34139,1.32548,0.87464,0.48357
3,Norway,2015,7.522,4,0.66973,0.34699,1.45900,0.88521,0.36503
4,Canada,2015,7.427,5,0.63297,0.45811,1.32629,0.90563,0.32957
...,...,...,...,...,...,...,...,...,...
775,Malawi,2019,3.410,150,0.44300,0.21800,0.19100,0.49500,0.08900
776,Yemen,2019,3.380,151,0.14300,0.10800,0.28700,0.46300,0.07700
777,Rwanda,2019,3.334,152,0.55500,0.21700,0.35900,0.61400,0.41100
778,Tanzania,2019,3.231,153,0.41700,0.27600,0.47600,0.49900,0.14700
779,Afghanistan,2019,3.203,154,0.00000,0.15800,0.35000,0.36100,0.02500

In [12]:
combined[combined.Country == "Switzerland"]

,Country,Year,Happiness Score,Happiness Rank,Freedom,Generosity,GDP per capita,Health (Life Expectancy),Trust (Government Corruption)
0,Switzerland,2015,7.587,1,0.665570,0.296780,1.39651,0.941430,0.419780
159,Switzerland,2016,7.509,2,0.585570,0.280830,1.52733,0.863030,0.412030
318,Switzerland,2017,7.494,4,0.620071,0.290549,1.56498,0.858131,0.367007
474,Switzerland,2018,7.487,5,0.660000,0.256000,1.42000,0.927000,0.357000
631,Switzerland,2019,7.480,6,0.572000,0.263000,1.45200,1.052000,0.343000

In [13]:
combined.to_csv("happiness_combined.csv", index=False)